<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>
    {{!-- <link href="" style="" rel=""> <!--pull in css styling here-->
    <link href="" rel=""> <!-- pull in a background pic for this app--> --}}
</head>
<body>
    {{{body}}}
</body>
</html>